
/* custom: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row {
  width: 100%;
  display: flex;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --black: #16161d;
  --white: #fff;
  --gray: #5a6f80;
  --light-bg: #f5f5f8;
  --google-color: #4285f4;
  --twitter-color: #1da1f2;
  --youtube-color: #ff0000;
  --linkedin-color: #0e76a8;
  --green: #5bc1ac;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

section {
  padding: 5rem 9%;
}

.btn {
  color: var(--white);
  font-weight: 400;
  font-size: 1.7rem;
  border: 0.1rem solid var(--white);
  border-radius: 10rem;
  padding: 1.5rem 4rem;
}

.btn:hover {
  background: var(--black);
  color: var(--white);
}

.heading {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 5rem;
  text-align: center;
}

/* pre-header */
.pre-header {
  background-color: var(--green);
  height: 30px;
  left: 0;
  right: 0;
  padding: 0.5rem 16rem;
  align-items: center;
  z-index: 100;
  position: relative;
}
.pre-header .info {
  float: left;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.pre-header .icon {
  float: right;
}
.pre-header .info span {
  color: var(--white);
  margin-left: 10px;
  padding: 5px;
}
.pre-header .icon i {
  color: var(--white);
  width: 16px;
  height: 16px;
  font-size: 15px;
  margin-right: 10px;
  padding: 2px;
}
/* pre-header */


/* header */
  .header {
    position: fixed;
    /* top: 0; */
    left: 0;
    right: 0;
    padding: 1.2rem 16rem;
    display: flex;
    align-items: center;
    z-index: 100;
  }
  
  .header.active {
    top: 0;
    background: var(--white);
    padding: 0.2rem 16rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .header.active .logo,
  .header.active .navbar a,
  .header.active .menu {
    color: var(--black);
  }
  
  .header .logo {
    margin-right: auto;
    font-size: 2rem;
    color: #808080;
    font-weight: 700;
  }
  
  .header .logo img {
    width: 56px;
    height: 56px;
  }
  
  .header .logo span {
    font-weight: normal;
  }
  
  .header .navbar a {
    font-size: 1.7rem;
    color: #808080;
    margin-left: 3rem;
  }
  .header .navbar a#donate {
    padding: 7px 20px;
    border: 2px solid var(--gray);
    border-radius: 20px;
  }
  
  .header .menu {
    font-size: 2rem;
    color: var(--black);
    display: none;
  }
  
  .logo-text {
    float: right;
    padding: 5px;
  }

  .logo-text .name {
    color: var(--green);
  }

  .logo-text .organization {
    font-size: 14px;
  }
  /* header */

  /* container */
  .container {
    margin-top:80px;
  }

  /* slider */
  .slider .slide-image {
    position:relative;
    width: 100%;
    height: 600px;
    background-size: cover;
  }
  .slider .slide-image .slide-text {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1000;
    text-align: center;
    margin-bottom: 80px;
    margin-right: 60px;
  }
  .slider .slide-image:before {
    content: '';
    position: absolute;
    bottom: 0; right: 0;
    border-bottom: 460px solid white;
    border-left: 580px solid rgba(0,0,0,0);
  }

  .slider .slide-image .slide-text .non-profit {
    color: var(--gray);
    font-weight: 700;
    font-size: 40px;
  }

  .slider .slide-image .slide-text .support {
    color: #8a8c8e;
    font-weight: 50;
    font-size: 12px;
  }

  .slick-prev {
    left: 70px !important;
    z-index: 10 !important;
    height: 75px !important;
    width: 75px !important;
    background: var(--gray) !important;
    border-radius: 50% !important;

    /* &:hover {
        background: #fff !important;
    } */
  }

  .slick-next {
    right: 70px !important;
    bottom: 50px !important;
    height: 75px !important;
    width: 75px !important;
    background: var(--gray) !important;
    border-radius: 50% !important;
    /* &:hover {
        background: #fff !important;
    } */
  }

  .slick-next i {
    color: var(--white);
    font-size: 40px;
  }
  .slick-prev i {
    color: var(--white);
    font-size: 40px;
  }

  /* welcome */
  .welcome {
    width: 100%;
    margin-top: 80px;
  }
  .welcome h2.heading {
    color: var(--gray);
    font-weight: 600;
    font-size: 30px;
  }
  .welcome .welcome-container {
    margin: 0 24rem;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 5rem; */
  }
  .welcome .welcome-container .welcome-item {
    /* margin: 0 15px;
    width: 126px; */
    padding: 30px;
  }
  .welcome .welcome-container .content {
    /* position: absolute; */
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
  }
  .welcome .welcome-container .welcome-item .content h3 {
    font-size: 20px;
    font-weight: 500;
    color: var(--green);
  }
  .welcome .welcome-container .welcome-item .image img {
    padding: 0 75px;
    height: auto;
    width: 100%;
  }
  /* welcome */


  /* story */
  .story {
    width: 100%;
    margin-top: 100px;
  }
  .story .story-container {
    margin: 0 20rem;
  }

  .story .story-container {
    display: flex;
  }
  .story .story-container .story-image {
    padding: 0 20px;
  }
  .story .story-container .story-image img {
    height: auto;
    padding: 20px;
    border-radius: 40px;
    width: 100%;
    height: 540px;
    object-fit: cover;
  }

  .story .story-container .story-content {
    padding: 0 20px;
  }
  .story .story-container .story-content .heading {
    color:var(--gray);
    text-align: left;
    margin-bottom: 2rem;
    margin-top: 65px;
    font-size: 35px;
    font-weight: 600;
  }
  .story .story-container .story-content p {
    font-size: 14px;
    color: #9d9ea0;
  }
  .story .story-container .story-content .name {
    color: var(--green);
    font-size: 18px;
    padding: 10px 0;
  }
  .story .story-container .story-content .mission {
    color: var(--green);
    font-size: 18px;
    padding: 10px 0;
    margin-top: 60px;
  }

  .story .story-container .story-item p {
    font-size: 12px;
    line-height: 1.5;
    padding: 1.5rem 0;
    color: #8a8c8e;
    text-transform: none;
  }
  /* story */


  /* partner */
  .partner {
    width: 100%;
    margin-top: 100px;
  }
  .partner .partner-container {
    margin: 0 48rem;
    display: flex;
  }
  .partner .partner-container .partner-image {
    /* display: flex; */
    padding: 20px;
  }
  .partner .partner-container .partner-image img {
    width: 100%;
    max-height: 360px;
    border-radius: 20px;
    object-fit: cover;
  }
  
  .partner .partner-container .partner-content {
    padding: 20px;
  }
  .partner .partner-container .partner-content .heading {
    color:var(--gray);
    text-align: left;
    margin-bottom: 2rem;
  }
  .partner .partner-container .partner-content .name {
    color: var(--gray);
    margin-top: 50px;
    font-size: 34px;
    font-weight: 600;
  }
  .partner .partner-container .partner-content .position {
    color: #8a8c8e;
    padding: 5px;
    margin-top: 10px;
  }
  
  .partner .partner-container .partner-content p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1.5rem 5px;
    color: #8a8c8e;
    text-transform: none;
    margin-top: 10px;
  }

  .partner-content .social-icon i {
    color: white;
    background: #44525d;
    padding: 8px;
    border-radius: 50%;
    font-size: 14px;
    margin: 10px 2px;
  }
  /* partner */

  /* banner */
  .banner {
    width: 100%;
    margin-top: 50px;
  }
  .banner .banner-container img {
    max-height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* causes */
  .causes {
    width: 100%;
    margin-top: 50px;
    height: auto;
  }
  .causes h2.heading {
    color: var(--gray);
    font-size: 35px;
    /* font-weight: 600; */
  }
  .causes .causes-container {
    margin: 0 20rem;
    display: flex;
    /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem; */
  }
  .causes .causes-container .causes-item .image img {
    padding: 0 20px;
    height: auto;
    width: 100%;
    border-top-right-radius: 32px 20px;
    border-top-left-radius: 32px 20px;
  }
  .causes .causes-container .content {
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    padding: 0 4rem;
  }
  .causes-container .content .progress .raised {
    float: left;
    padding: 10px 0;
    color: #8a8c8e;
  }
  .causes-container .content .progress .goal {
    float: right;
    padding: 10px 0;
    color: #8a8c8e;
  }
  /* .causes-container .content .donate {
    clear: both;
    margin-top: 10px;
    padding: 0 20px;
  } */
  .causes-container .causes-item .donate button {
    cursor: pointer;
    background: var(--gray);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-bottom-right-radius: 32px 20px;
    border-bottom-left-radius: 32px 20px;
    width: -webkit-fill-available;
    margin: 0 20px;
    margin-top: 15px;
  }  
  .causes-container .causes-item .content h3 {
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    color: var(--green);
    padding: 5px 0px;
    margin: 10px 0;
  }
  .causes-container .causes-item .content p {
    font-size: 13px;
    font-weight: 400;
    text-align: left;
    color: #8a8c8e;
    padding: 5px 0px;
  }

  /* progress bar */
  @-webkit-keyframes animate-stripes {
    from {
      background-position: 0 0;
    }
    
    to {
     background-position: 44px 0;
    }
  }
  .ui-progress-bar {
    position: relative;
    height: 7px;
    padding-right: 2px;
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    background-color: #fff;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    margin-top: 20px;
    background: #dfdede;
  }
  .ui-progress {
    position: relative;
    display: block;
    overflow: hidden;
    height: 7px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    -webkit-background-size: 44px 44px; /* Webkit */
    /* background-color: var(--green); */
    background: -webkit-gradient(linear, 0 0, 44 44,
      color-stop(0.00, rgba(255,255,255,0.17)),
      color-stop(0.25, rgba(255,255,255,0.17)),
      color-stop(0.26, rgba(255,255,255,0)),
      color-stop(0.50, rgba(255,255,255,0)),
      color-stop(0.51, rgba(255,255,255,0.17)),
      color-stop(0.75, rgba(255,255,255,0.17)),
      color-stop(0.76, rgba(255,255,255,0)),
      color-stop(1.00, rgba(255,255,255,0))
    ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #5a6f80), color-stop(1, #16161d));
    -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
    -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
    box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #5a6f80;
    border: 1px solid #5a6f80;
    -webkit-animation: animate-stripes 2s linear infinite;
  }
  .ui-progress span.ui-label {
    font-size: 1.2em;
    position: absolute;
    right: 0;
    line-height: 33px;
    padding-right: 12px;
    color: rgba(0,0,0,0.6);
    text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
    white-space: nowrap;
  }



  /* story */
  .form {
    width: 100%;
    margin-top: 50px;
    height: auto;
    background: var(--gray);
    position: relative;
  }
  .form .form-container {
    margin: 0 20rem;
    display: flex;
    gap: 120px;
  } 
  .form-item .register-form {
    background: var(--white);
    height: auto;
    border-radius: 20px;
    margin-bottom: 5rem;
  }
  .form-item .heading {
    margin-bottom: 2rem;
    margin-top: 8rem;
    text-align: left;
    color: var(--white);
  }
  .form-item .register-form {
    padding: 40px;
  }
  .form-item .register-form .form-header {
    font-size: 25px;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 20px;
  }

  .form-item .register-form button {
    cursor: pointer;
    background: var(--gray);
    border: 0;
    padding: 16px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 20px;
    width: 100%;
  }
  .form-item .register-form .form-group {
    gap: 8px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
  }
  .form-item .register-form .form-control {
    padding: 5px;
  }
  .form-item .register-form .form-control label {
    font-size: 15px;
    margin-bottom: 5px;
    color: var(--gray);
  }
  .form-item .register-form .input-area {
    /* height: 30px; */
    /* position: absolute;  */
    /* right: 10px; */
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 5px;
    background: #e3e9f1
  }

  #fileInput{
    display: none;
  }
  #icon{
    /* width: 100px; */
    cursor: pointer;
  }
  .upload-button {
    position: absolute;
    right: 30px;
    padding: 15px;
  }

  .form-item .register-form  .comment {
    height: 75px;
  }


  .form-item.about {
    margin-top: 8rem;
    /* display: flex; */
  }
  .form .form-container .form-item .image {
    /* text-align: center; */
    border-radius: 50%;
    overflow: hidden;
    width: 280px;
    height: 280px;
  }
  .form .form-container .form-item .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .form .form-container .form-item .intro {
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    color: var(--white);
    margin: 20px 0;
    width: 280px;
  }
  .form .form-container .form-item .content {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: var(--white);
    margin: 20px 0;
    width: 280px;
  }
  /* form */


  /* news */
  .news {
    /* height:2000px; */
    /* border:1px solid #333; */
    margin-top: 30px;
  }
  
  .news .news-container {
    margin: 0 20rem;
    display: flex;
    /* border:1px solid red; */
    /* height: 1800px; */
  }

  .news .new-heading {
    font-size: 35px;
    font-weight: 600;
    color: var(--gray);
    margin: 8rem 20rem 2rem 20rem;
  }

  .news .news-container .news-main {
    /* border:1px solid blue; */
  }

  .news .news-container .news-sidebar {
    /* border:1px solid green; */
    /* height: 600px; */
  }

  .news-container .news-main .news-item {
    padding: 30px;
    padding-left: 0px;
  }

  .news-container .news-main .news-item .news-image img {
    max-height: 400px;
    width: 100%;
    border-top-right-radius: 32px 20px;
    border-top-left-radius: 32px 20px;
    object-fit: cover;
    cursor: pointer;
  }

  .news-container .news-main .news-item .news-image-title {
    width: 100%;
    color: var(--white);
    background: var(--gray);
    padding: 12px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    font-size: 14px;
    cursor: pointer;
  }

  .news-container .news-main .news-item .news-info {
    margin: 15px 0;
  }

  .news-container .news-main .news-item .news-info span {
    padding: 10px;
    color: #9d9ea0;
    font-size: 15px;
  }

  .news-item .news-title h2 {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .news-item .news-content p {
    color: var(--gray);
    margin: 15px 0;
    font-size: 15px;
  }

  .news-sidebar {
    padding: 30px;
  }

  .news-sidebar .search { 
    padding: 15px;
    border-radius: 8px;
    position: relative; 
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: auto;
    background: #e3e9f1;
  }
  .news-sidebar .search #search-icon {
    position: absolute;
    padding: 5px;
    right: 10px;
    font-size: 15px;
  }
  .news-sidebar .search input { 
    text-indent: 10px;
    width: 100%;
    padding: 4px;
    background: #e3e9f1;
  }
  .news-sidebar h2 {
    color: var(--green);
    font-size: 20px;
    font-weight: 580;
    margin: 10px 0 10px 0;
    cursor: pointer;
    font-weight: 600;
  }

  .recent-news .recent-news-item {
    display: flex;
  }
  .recent-news-item .image img {
    width: 100%;
    height: auto;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
  }  
  .recent-news-item .info h3 {
    font-size: 18px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .recent-news-item .info span {
    font-size: 15px;  
    padding: 5px 10px;
    color: #8a8c8e;
    cursor: pointer;
  }
  .news-sidebar .list-categories {
    list-style-type: none;
  }
  .news-sidebar .list-categories li {
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    color: #8a8c8e;
  }
  .news-sidebar .list-categories span {
    padding: 1px 6px;
    background: var(--gray);
    color: var(--white);
    border-radius: 10px;
    font-size: 12px;
  }

  .news-sidebar .spans {
    max-width: 100%;
    min-height: 50px;
    display: inline-block;
  }
  .news-sidebar .spans span {
    padding: 10px;
    float: left;
    color: #8a8c8e;
    cursor: pointer;
    font-size: 12px;
  }
  
  .form-newsletter {
    background: #e3e9f1;
    padding: 20px 60px;
    margin-top: 20px;
    border-radius: 10px;
  }
  .newletter-form {
    width: 100%;
    height: 40px;
    padding: 5px;
    margin: 15px 0;
    font-size: 15px;
    border-radius: 10px;
  }
  .newletter-form-btn {
    padding: 10px 10px;
    margin: 15px 0;
    width: 100%;
    border-radius: 30px;
    background: var(--gray);
    color: var(--white);
    cursor: pointer;
  }


  /* contact */
  .contact {
    margin-top: 100px;
    margin-bottom: 100px;
    /* height: 1000px; */
    /* border: 1px solid black; */
  }

  .contact-container {
    margin: 0 32rem;
    display: flex;
  }

  .contact-container .contact-info {
    /* height: 800px; */
    /* border: 1px solid red; */
    padding: 30px;
  }
  .contact-container .contact-form {
    /* height: 800px; */
    /* border: 1px solid blue; */
    padding: 30px;
    background: #e3e9f1;
    border-radius: 20px;
  }

  .contact-container .contact-info-header {
    color: var(--gray);
    font-size: 32px;
    padding: 5px;
  }
  .contact-container .contact-info button {
    padding: 12px 22px;
    border-radius: 20px;
    font-size: 16px;
    color: var(--white);
    background: var(--gray);
    margin-top: 20px;
  }
  .contact-container .contact-info .person {
    display: flex;
    width: 100%;
    margin-top: 10px;
  }
  .contact-info .person .person-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
  }
  .contact-info .person .person-info {
    padding: 15px;
  }
  .contact-info .person .person-info .person-name {
    color: #8a8c8e;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 5px;
  }
  .contact-info .person .person-info .person-position {
    color: var(--gray);
    font-size: 14px;
    font-weight: 600;
  }
  .contact-container .contact-form-header {
    color: var(--gray);
    font-size: 20px;
  }
  .contact-info .infomation {
    padding: 5px;
  }
  .contact-info .infomation .infomation-header {
    color: var(--green);
    font-size: 20px;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  .contact-info .infomation .infomation-icon {
    padding: 5px 0;
    font-size: 14px;
    color: #9d9ea0;
    font-weight: 400;
  }
  .contact-form .contact-form-header {
    color: var(--gray);
    font-size: 32px;
    padding: 5px;
  }
  .contact-form .register-form button {
    cursor: pointer;
    background: var(--gray);
    border: 0;
    padding: 16px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 20px;
    width: 100%;
  }
  .contact-form .register-form .form-group {
    gap: 8px;
    margin-bottom: 10px;
    display: flex;
    position: relative;
  }
  .contact-form .register-form .form-control {
    padding: 5px;
  }
  .contact-form .register-form .input-area {
    width: 100%;
    border-radius: 9px;
    /* border: 1px solid #ccc; */
    padding: 15px;
    /* margin-top: 5px; */
  }

  .contact-form .register-form .form-control textarea {
    height: 150px;
  }
  
  /* footer */
  .footer {
    background-color: var(--gray);
    height: 80px;
    left: 0;
    right: 0;
    padding: 0.5rem 26rem;
    align-items: center;
    z-index: 100;
    position: relative;
  }
  .footer .info {
    float: left;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 12px;
  }
  .footer .icon {
    float: right;
    margin-top: 20px;
  }
  .footer .info span {
    color: var(--white);
    margin-left: 10px;
    padding: 5px;
  }
  .footer .icon i {
    color: white;
    background: #44525d;
    padding: 8px;
    border-radius: 50%;
    font-size: 10px;
    margin: 0 2px;
    font-size: 12px;
  }
  /* footer */


  /* media queries */  
  @media (max-width: 2560px) {

  }
  @media screen  and (min-device-width: 1920px) and (max-width: 2200px) {
    .pre-header .info {
      display: flex;
    }
    .pre-header .icon {
      display: flex;
    }
    .header {
      padding: 2.2rem 16rem;
    }
    .header.active {
      padding: 2.2rem 16rem;
    }

    .container {
      margin-top: 100px;
    }

    .slider .slide-image {
      height: 760px;
    }
    .slider .slide-image:before {
      border-bottom: 560px solid white;
      border-left: 800px solid rgba(0,0,0,0);
    }
    .slick-next {
      right: 86px !important;
      bottom: 50px !important;
      height: 80px !important;
      width: 80px !important;
    }
    .slick-next i {
      color: var(--white);
      font-size: 32px;
    }
    .slick-prev {
      left: 86px !important;
      bottom: 50px !important;
      height: 80px !important;
      width: 80px !important;
    }
    .slick-prev i {
      color: var(--white);
      font-size: 32px;
    }
    .slider .slide-image .slide-text {
      position: absolute;
      bottom: 0;
      right: 0;
      z-index: 1000;
      text-align: center;
      margin-bottom: 120px;
      margin-right: 80px;
    }
    .slider .slide-image .slide-text .non-profit {
      font-size: 50px;
    }
    .slider .slide-image .slide-text .support {
      font-size: 18px;
    }

    .welcome {
      margin-top: 80px;
    }
    .welcome h2.heading {
      font-weight: 600;
      font-size: 40px;
    }
    .welcome .welcome-container {
      margin: 0 36rem;
    }
    .welcome .welcome-container .welcome-item {
      margin: 0 15px;
      width: 100%;
      height: auto;
    }
    .welcome .welcome-container .content {
      text-align: center;
    }
    .welcome .welcome-container .welcome-item .content h3 {
      font-size: 20px;
      font-weight: 500;
      color: var(--green);
    }
    .welcome-container .welcome-item .image img {
      padding: 0 75px !important;
    }
    .welcome .welcome-container .welcome-item {
      padding: 20px;
    }
    
    .story .story-container {
      margin: 0 32rem;
    }
    .story .story-container .story-content .heading {
      font-size: 45px;
      margin-bottom: 0;
      margin-top: 65px;
    }
    .story .story-container .story-content .name {
      font-size: 26px;
      padding: 20px 0;
    }
    .story .story-container .story-content .mission {
      font-size: 22px;
    }
    .story .story-container .story-content p {
      font-size: 18px;
    }
    .story .story-container .story-image img {
      height: 640px;
    }
    

    .partner .partner-container {
        margin: 0 60rem;
        display: flex;
    }
    .partner .partner-container .partner-content .name {
      font-size: 40px;
      margin-top: 50px;
    }
    .partner .partner-container .partner-content .position {
      color: #9d9ea0;
      font-size: 16px;
    }
    .partner .partner-container .partner-content p {
      color: #9d9ea0;
      font-size: 16px;
    }
    .partner-content .social-icon i {
      padding: 12px;
      border-radius: 50%;
      font-size: 16px;
      margin: 10px 4px;
    }
    .partner .partner-container .partner-content {
      padding: 30px;
    }
    .partner .partner-container .partner-image {
      padding: 30px;
    }
    .partner .partner-container .partner-image img {
      max-height: 420px;
    }

    .causes .causes-container {
      margin: 0 32rem;
    }
    .causes h2.heading {
      font-size: 45px;
    }
    .causes-container .causes-item .content h3 {
      font-size: 24px;
    }
    .causes-container .causes-item .content p {
      font-size: 18px;
    }
    .causes-container .content .progress .raised {
      font-size: 18px;
    }
    .causes-container .content .progress .goal {
      font-size: 18px;
    }
    .causes-container .causes-item .donate button {
      padding: 20px 35px;
      font-size: 18px;
      font-weight: 500;
    }

    .form .form-container {
      margin: 0 32rem;
      gap: 160px;
    }
    .form-item .heading {
      margin-bottom: 3rem;
      margin-top: 9rem;
      font-size: 45px;
    }
    .form-item .register-form .form-header {
      font-size: 30px;
    }
    .form .form-container .form-item .image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .form .form-container .form-item .image {
      width: 360px;
      height: 360px;
      margin-bottom: 40px;
    }
    .form .form-container .form-item .intro {
      width: 360px;
      font-size: 26px;
      font-weight: 600;
    }
    .form .form-container .form-item .content {
      width: 360px;
      font-size: 16px;
    }
    .form-item .register-form .comment {
      height: 120px;
    }
    .form-item .register-form .input-area {
      padding: 15px;
    }

    .news .news-container {
      margin: 0 32rem;
    }
    .news .new-heading {
      margin: 8rem 32rem 2rem 32rem;
      font-size: 45px;
      font-weight: 600;
    }
    .newletter-form {
      height: auto;
      padding: 15px;
    }
    .form-newsletter {
      padding: 20px 60px;
    }
    .newletter-form-btn {
      padding: 20px 10px;
      font-size: 17px;
    }
    .news-container .news-main .news-item .news-image img {
      max-height: 490px;
    }
    .news-container .news-main .news-item .news-info {
      margin: 20px 0;
    }
    .news-item .news-title h2 {
      font-size: 24px;
    }
    .news-sidebar .list-categories li {
      font-size: 15px;
    }
    .news-sidebar .spans span {
      font-size: 15px;
    }
  

  }
  

  @media screen  and (min-device-width: 1780px) and (max-width: 1920px) {
    .slider .slide-image {
      position:relative;
      width: 100%;
      height: 660px;
      background-size: cover;
    }
    .slider .slide-image:before {
      border-bottom: 540px solid white;
      border-left: 700px solid rgba(0,0,0,0);
    }
    .slick-next {
      right: 110px !important;
    }
    .slick-prev {
      left: 110px !important;
    }
    .slider .slide-image .slide-text {
      margin-bottom: 110px;
      margin-right: 90px;
    }
    .slider .slide-image .slide-text .non-profit {
      font-size: 44px;
    }

    .welcome h2.heading {
      font-size: 35px;
    }
    .welcome .welcome-container {
      margin: 0 28rem;
    }

    .story .story-container {
      margin: 0 28rem;
    }
    .story .story-container .story-content .heading {
      font-size: 40px;
      margin-bottom: 0;
    }
    .story .story-container .story-content .name {
      font-size: 22px;
      padding: 15px 0;
    }
    .story .story-container .story-content .mission {
      font-size: 22px;
    }
    

    .partner .partner-container {
        margin: 0 58rem;
        display: flex;
    }
    .partner .partner-container .partner-content .position {
      color: #9d9ea0;
      font-size: 14px;
    }
    .partner .partner-container .partner-content p {
      color: #9d9ea0;
      font-size: 14px;
    }
    .partner-content .social-icon i {
      padding: 12px;
      border-radius: 50%;
      font-size: 16px;
      margin: 10px 4px;
    }
    .partner .partner-container .partner-image img {
      max-height: 380px;
    }

    .causes .causes-container {
      margin: 0 28rem;
    }
    .causes-container .causes-item .content h3 {
      font-size: 20px;
    }
    .causes-container .causes-item .content p {
      font-size: 15px;
    }
    .causes-container .content .progress .raised {
      font-size: 15px;
    }
    .causes-container .content .progress .raised {
      font-size: 15px;
    }
    .causes-container .causes-item .donate button {
      padding: 15px 35px;
      font-size: 16px;
      font-weight: 500;
    }

    .form .form-container {
      margin: 0 28rem;
    }
    .form-item .heading {
      margin-bottom: 3rem;
      margin-top: 9rem;
    }
    .form .form-container .form-item .image img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
    .form .form-container .form-item .image {
      width: 300px;
      height: 300px;
    }
    .form .form-container .form-item .intro {
      width: 300px;
    }
    .form .form-container .form-item .content {
      width: 300px;
    }

    .news .news-container {
      margin: 0 26rem;
    }
    .news .new-heading {
      margin: 8rem 26rem 2rem 26rem;
      font-size: 40px;
      font-weight: 600;
    }
    .newletter-form {
      height: auto;
      padding: 15px;
    }
    .form-newsletter {
      padding: 20px 60px;
    }
    .newletter-form-btn {
      padding: 20px 10px;
      font-size: 17px;
    }
    .news-container .news-main .news-item .news-image img {
      max-height: 490px;
    }
    .news-container .news-main .news-item .news-info {
      margin: 20px 0;
    }
    .news-item .news-title h2 {
      font-size: 24px;
    }
    .news-sidebar .list-categories li {
      font-size: 15px;
    }
    .news-sidebar .spans span {
      font-size: 15px;
    }


  }
  @media (max-width: 1780px) {

  }
  @media (max-width: 1600px) {

  }
  @media (max-width: 1440px) {
    .slider .slide-image {
      height: 520px;
    }
    .slider .slide-image:before {
      border-bottom: 405px solid white;
      border-left: 500px solid rgba(0,0,0,0);
    }
    .slick-next {
      right: 50px !important;
      height: 70px !important;
      width: 70px !important;
    }
    .slick-prev {
      left: 50px !important;
      height: 70px !important;
      width: 70px !important;
    }

    .welcome .welcome-container {
      margin: 0 15rem;
    }
    .welcome .welcome-container .welcome-item {
      padding: 15px;
    }
    .welcome .welcome-container .welcome-item .image img {
      padding: 0 60px;
    }

    .story .story-container {
      margin: 0 8rem;
    }
    .story .story-container .story-item .image {
      height: 48rem;
      background-size: cover;
      border-radius: 20px;
    }

    .partner .partner-container {
      margin: 0 35rem;
    }
    .causes .causes-container {
      margin: 0 10rem;
    }
    
    .form .form-container {
      margin: 0 10rem;
    }
    .form .form-container .form-item .image {
      width: 300px;
      height: 300px;
    }
    .form .form-container .form-item .intro {
      width: 300px;
    }
    .form .form-container .form-item .content {
      width: 300px;
    }
    
    .news .news-container {
      margin: 0 10rem;
    }
    .news .new-heading {
      margin: 8rem 10rem 2rem 10rem;
      font-size: 32px;
      font-weight: 600;
    }

    .contact-container {
      margin: 0 10rem;
    }

  }
  @media (max-width: 1280px) {
  
    .home h1 {
      font-size: 5rem;
    }
    .header {
      padding: 1.2rem 2rem;
    }
    .header.active {
      padding: 1.2rem 2rem;
    }

    .slider .slide-image {
      height: 400px;
    }
    .slider .slide-image:before {
      border-bottom: 330px solid white;
      border-left: 430px solid rgba(0,0,0,0);
    }
    .slick-next {
      right: 50px !important;
      height: 60px !important;
      width: 60px !important;
    }
    .slick-prev {
      left: 50px !important;
      height: 60px !important;
      width: 60px !important;
    }
    .slick-next i {
      font-size: 30px;
    }
    .slick-prev i {
      font-size: 30px;
    }
    .slider .slide-image .slide-text {
      margin-bottom: 45px;
      margin-right: 40px;
    }
    .slider .slide-image .slide-text .non-profit {
      font-size: 34px;
    }
    .slider .slide-image .slide-text .support {
      font-size: 12px;
    }
    
    .welcome .welcome-container {
      margin: 0 8rem;
    }
    .welcome .welcome-container .welcome-item .content h3 {
      font-size: 15px;
    }
    .welcome .welcome-container .welcome-item .image img {
      padding: 0 50px;
    }
    
    .story .story-container {
      margin: 0 2rem;
    }
    /* .story .story-container .story-item .image img {
      width: 100%;
    } */
    .story .story-container .story-item .image {
      height: 48rem;
      background-size: cover;
      border-radius: 20px;
    }
    .story .story-container .story-image {
      padding: 0;
    }
    
    .partner .partner-container {
      margin: 0 20rem;
    }

    .causes .causes-container {
      margin: 0 2rem;
    }
    .causes .causes-container .causes-item .image img {
      padding: 0 10px;
    }
    .causes-container .causes-item .donate button {
      margin: 0 10px;
    }
    .causes .causes-container .content {
      padding: 0 3rem;
    }

    .form .form-container {
      margin: 0 4rem;
      gap: 80px;
    }
    .form .form-container .form-item .image {
      width: 260px;
      height: 260px;
    }
    .form .form-container .form-item .intro {
      width: 260px;
    }
    .form .form-container .form-item .content {
      width: 260px;
    }
    .form-item .register-form {
      padding: 20px;
    }

    .contact-container {
      margin: 0 10rem;
    }
    .contact-info .person .person-info {
      padding-top: 0;
    }

    .news-sidebar h2 {
      margin: 50px 0 10px 0;
    }
    .news .news-container {
      margin: 0 8rem;
    }
    .recent-news-item .info h3 {
      font-size: 17px;
    }
    .form-newsletter {
      padding: 20px 40px;
    }

    .footer {
      padding: 0.5rem 4rem;
    }
    .form-item.about {
      /* display: none; */
    }
  }
  @media (max-width: 991px) {
    html {
      font-size: 60%;
    }

    .container {
      margin-top: 9rem;
    }
    .pre-header {
      padding: 0.5rem 6rem;
    }
    .header {
      padding: 2rem 0;
    }
    .header.active {
      padding: 2rem 0;
    }
    .header .logo {
      font-size: 18px;
    }
    .logo-text .organization {
      font-size: 12px;
    }
    .header .navbar a {
      margin-left: 10px
    }

    .slider .slide-image {  
      position:relative;
      width: 100%;
      height: 320px;
      background-size: cover;
    }
    .slider .slide-image:before {
      content: '';
      position: absolute;
      bottom: 0; right: 0;
      border-bottom: 255px solid white;
      border-left: 320px solid rgba(0,0,0,0);
    }
    .slider .slide-image .slide-text {
      margin-bottom: 45px;
      margin-right: 25px;
    }
    .slider .slide-image .slide-text .non-profit {
      color: var(--gray);
      font-weight: 800;
      font-size: 25px;
    }
    .slider .slide-image .slide-text .support {
      color: #8a8c8e;
      font-weight: 50;
      font-size: 10px;
    }
    .slick-prev {
      left: 25px !important;
      z-index: 10 !important;
      height: 60px !important;
      width: 60px !important;
    }
    .slick-next {
      right: 25px !important;
      bottom: 50px !important;
      height: 60px !important;
      width: 60px !important;
    }

    .welcome .heading {
      margin-bottom: 2rem;
    }
    .welcome .welcome-container {
      margin: 0 10rem;
      flex-wrap: wrap;
    }
    .welcome .welcome-container .welcome-item {
      flex: 50%;
      padding: 20px 50px;
    }
    .welcome .welcome-container .welcome-item .image img {
      padding: 0 25%;  
    }

    .story {
      width: 100%;
      margin-top: 50px;
    }
    .story .story-container .story-content .heading {
      margin-top: 25px;
    }
    .story .story-container {
      flex-wrap: wrap;
      margin: 0 8rem;
    }
    .story .story-container .story-image {
      flex: 100%;
    }
    .story .story-container .story-content {
      flex: 100%;
    }


    .partner .partner-container {
      margin: 0 10rem;
    }

    .causes .causes-container {
      margin: 0 8rem;
      flex-wrap: wrap;
    }
    .causes .causes-container .causes-item {
      width: 50%;
      margin-top: 20px;
    }
    .causes .causes-container .causes-item .image img {
      padding: 0 20px;
    }
    .causes .causes-container .content {
      padding: 0 3rem;
    }
    .causes-container .causes-item .donate button {
      margin: 0 20px;
    }

    .form .form-container {
      margin: 0 10rem;
    }
    .form-item.about {
      display: none;
    }
    .form-item {
      width: 100%;
    }

    .news .news-container {
      margin: 0 4rem;
    }
    .news-sidebar h2 {
      margin: 30px 0 10px 0;
    }
    .form-newsletter {
      padding: 20px 20px;
    }
    .news-container .news-main .news-item {
      padding: 20px;
      padding-left: 0;
    }
    .news-sidebar h2 {
      margin: 20px 0 10px 0;
    }
    .news-sidebar {
      padding: 10px;
    }
    .recent-news-item .info h3 {
      font-size: 16px;
    }
    .news-container .news-main .news-item .news-info span {
      font-size: 13px;
    }

    .contact {
      margin-top:50px;
      margin-bottom: 50px;
    }
    .contact-container {
      margin: 0 4rem;
    }
    .contact-info .person .person-info {
      padding-top: 0;
    }
    .contact-container .contact-info {
      padding: 15px;
    }
    .contact-container .contact-form {
      padding: 15px;
    }
    .contact-form .send-email {
      font-size: 12px !important;
      margin: 10px 0 !important;
    }


    .footer {
      padding: 0.5rem 2rem;
    }
  }
  @media (max-width: 768px) {
    .pre-header {
      padding: 1rem 2rem;
    }
    .pre-header .info {
      display: none;
    }
    .pre-header .icon i {
      color: var(--white);
      width: 20px;
      height: 20px;
      font-size: 10px;
    }

    .header {
      padding: 1rem 2rem;
    }

    .header.active {
      padding: 1rem 2rem
    }

    .header .menu {
      display: block;
      color: #808080;
    }
  
    .header .navbar {
      position: fixed;
      top: 12.2rem;
      left: 0;
      right: 0;
      background: var(--green);
      display: flex;
      flex-flow: column;
      text-align: center;
      transform: translateX(100%);
    }

    .header.active .navbar {
      position: fixed;
      top: 8.4rem;
      left: 0;
      right: 0;
      background: var(--green);
      display: flex;
      flex-flow: column;
      text-align: center;
      transform: translateX(100%);
    }
  
    .header .navbar.show {
      transform: translateX(0);
    }
    .header .navbar a {
      color: var(--white);
      margin: 0;
      font-size: 2rem;
      padding: 2rem 0;
    }
    .header.active .navbar a {
      color: var(--white);
      margin: 0;
      font-size: 2rem;
      padding: 2rem 0;
    }
    .header .navbar a#donate {
      display: none;
    }

    .slick-prev {
      height: 45px !important;
      width: 45px !important;
    }
    .slick-next {
      height: 45px !important;
      width: 45px !important;
    }
    .slick-next i {
      color: var(--white);
      font-size: 16px;
    }
    .slick-prev i {
      color: var(--white);
      font-size: 16px;
    }

    .welcome .welcome-container {
      margin: 0 4rem;
    }
    .welcome .welcome-container .welcome-item {
      padding: 20px 40px;
    }
    .welcome .welcome-container .welcome-item .image img {
      padding: 0 30%;
    }

    .story .story-container {
      margin: 0 2rem;
    }
    .story .story-container .story-item .image {
      height: 38rem;
    }
    .story-item .heading {
      margin-top: 0 !important;
    }
    .story .story-container .story-item .heading {
      margin-top: 10px;
      font-size: 22px;
    }
    .story .story-container .story-item .name {
      color: var(--green);
      font-size: 14px;
      margin-bottom: 0px;
    }
    .story .story-container .story-item .mission {
      color: var(--green);
      font-size: 14px;
      margin-top: 20px;
    }
    .story .story-container .story-item p {
      font-size: 11px;
      line-height: 1.5;
      padding: 0.5rem 0;
      color: #8a8c8e;
      text-transform: none;
    }

    .partner .partner-container {
      margin: 0 4rem;
    }
    .partner .partner-container .partner-item .name {
      color: var(--gray);
      margin-top: 0;
      font-size: 24px;
      font-weight: 550;
    }
    .partner .partner-container .partner-image {
      padding: 10px;
    }
    .partner .partner-container .partner-content {
      padding: 10px;
    }
    .partner .partner-container .partner-item .name {
      margin-top: 20px;
      font-size: 24px;
    }    
    .partner .partner-container .partner-item p {
      font-size: 1rem;
    }

    .causes .causes-container {
      margin: 0 2rem;
    }
    .causes .causes-container .causes-item .image img {
      padding: 0 10px;
    }
    .causes-container .causes-item .donate button {
      margin: 0 10px;
    }
    .causes .causes-container .content {
      padding: 0 2rem;
    }

    .form .form-container {
      margin: 0 4rem;
    }
    .form-item .register-form {
      padding: 30px;
    }

    .contact-container .contact-form {
      padding-right: 10px;
    }
    .contact-container {
      margin: 0 2rem;
    }
    .person-image {
      width: 26.66%;
    }
  }
  @media (max-width: 620px) {
    .welcome h2.heading {
      font-size: 25px;
    }
    .welcome .welcome-container .welcome-item {
      padding: 20px 10px;
    }

    .story .story-container .story-image img {
      height: 430px;
    }
    .story .story-container .story-content .mission {
      margin-top: 20px;
    }

    .partner .partner-container {
      margin: 0 2rem;
    }
    .partner .partner-container .partner-content .name {
      margin-top: 24px;
      font-size: 24px;
    }
    .partner .partner-container .partner-content p {
      padding: 0.5rem 5px;
      font-size: 12px;
    }

    .heading {
      margin-bottom: 20px;
    }
    .causes .causes-container {
      margin: 0 4rem;
    }
    .causes .causes-container .causes-item {
      width: 100%;
    }

    .form .form-container {
      margin: 0 2rem;
    }
    .form-item .register-form .form-header {
      font-size: 20px;
    }
    .form-item .register-form {
      padding: 20px;
    }

    .news .news-container {
      display: block;
      margin: 0 2rem;
    }
    .news .new-heading {
      margin: 2rem;
    }
    .news .news-container .news-main {
      width: 100%;
    }
    .news .news-container .news-sidebar {
      width: 100%;
    }
    .news-container .news-main .news-item {
      padding: 10px;
    }

    .contact-container {
      margin: 0 2rem;
      display: block;
    }
    .contact-container .contact-info {
      width: 100%;
    }
    .contact-container .contact-form {
      margin-top: 30px;
      width: 100%;
    }
  }
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
    .pre-header {
      padding: 1rem 2rem;
    }
    .pre-header .info {
      display: none;
    }
    .pre-header .icon i {
      color: var(--white);
      width: 20px;
      height: 20px;
      font-size: 10px;
    }

    .header {
      padding: 1rem 2rem;
    }

    .header.active {
      padding: 1rem 2rem
    }

    .header .menu {
      display: block;
      color: #808080;
    }
  
    .header .navbar {
      position: fixed;
      top: 12.2rem;
      left: 0;
      right: 0;
      background: var(--green);
      display: flex;
      flex-flow: column;
      text-align: center;
      transform: translateX(100%);
    }

    .header.active .navbar {
      position: fixed;
      top: 8.4rem;
      left: 0;
      right: 0;
      background: var(--green);
      display: flex;
      flex-flow: column;
      text-align: center;
      transform: translateX(100%);
    }
  
    .header .navbar.show {
      transform: translateX(0);
    }
  
    .header .navbar a {
      color: var(--white);
      margin: 0;
      font-size: 2rem;
      padding: 2rem 0;
    }

    .header.active .navbar a {
      color: var(--white);
      margin: 0;
      font-size: 2rem;
      padding: 2rem 0;
    }

    .container {
      margin-top: 9rem;
    }
  
    .slider .slide-image {
      position:relative;
      width: 100%;
      height: 250px;
      background-size: cover;
    }
    .slider .slide-image:before {
      content: '';
      position: absolute;
      bottom: 0; right: 0;
      border-bottom: 150px solid white;
      border-left: 140px solid rgba(0,0,0,0);
  }
    .slider .slide-image .slide-text {
      margin-bottom: 15px;
      margin-right: 0px;
    }
    .slider .slide-image .slide-text .non-profit {
      color: var(--gray);
      font-weight: 800;
      font-size: 14px;
    }
    .slider .slide-image .slide-text .support {
      color: #8a8c8e;
      font-weight: 50;
      font-size: 7px;
    }
    .slick-prev {
      left: 15px !important;
      z-index: 10 !important;
      height: 30px !important;
      width: 30px !important;
    }
    .slick-next {
      right: 10px !important;
      bottom: 50px !important;
      height: 30px !important;
      width: 30px !important;
    }
    .slick-next i {
      color: var(--white);
      font-size: 12px;
    }
    .slick-prev i {
      color: var(--white);
      font-size: 12px;
    }

    .welcome h2.heading {
      color: #808080;
      font-size: 20px;
    }
    .welcome .welcome-container {
      margin: 0 2rem;
    }
    .welcome .welcome-container .welcome-item {
      margin: 0;
      padding: 20px 0px;
    }
    .welcome .welcome-container .welcome-item .content h3 {
      font-size: 12px;
      font-weight: 500;
    }
    .welcome .welcome-container .welcome-item .image img {
      /* padding: 0 20%; */
    }

    .story .story-container {
      margin: 0;
    }
    .story .story-container .story-content .heading {
      margin-top: 0px;
    }
    .story .story-container .story-item .name {
      font-size: 15px;
    }
    .story .story-container .story-item .mission {
      font-size: 15px;
    }
    .story .story-container .story-image img {
      height: 340px;
    }
    .story .story-container .story-content .name {
      font-size: 15px;
    }
    .story .story-container .story-content .mission {
      font-size: 15px;
    }
    .story .story-container .story-content p {
      font-size: 12px;
    }

    .partner .partner-container {
      margin: 0 2rem;
    }
    .partner .partner-container .partner-item .name {
      color: var(--gray);
      margin-top: 0;
      font-size: 24px;
      font-weight: 550;
    }
    .partner .partner-container .partner-item .image {
      height: 26rem;
      border-radius: 20px;
    }
    .partner .partner-container {
      display: block;
    }
    .col-6 {
      width: 100%;
    }
    .partner .partner-container .partner-item .name {
      margin-top: 20px;
      font-size: 24px;
    }    
    .partner .partner-container .partner-item p {
      font-size: 1rem;
    }

    .causes .causes-container {
      margin: 0;
    }

    .form .form-container {
      margin: 0 2rem;
    } 
    .form-item.about {
      display: none;
    }
    .upload-button {
      right: 5px;
    }

    .news .new-heading {
      margin: 2rem 2rem;
    }
    .news .news-container {
      margin: 0 2rem;
    }
    .news .news-container {
      display: block;
    }
    .news-container .news-main .news-item {
      padding: 0px;
      margin-top: 60px;
    }
    .news .news-container .news-main {
      width: 100%;
    }
    .news .news-container .news-sidebar {
      width: 100%;
      padding: 0px;
    }
    .news-container .news-main .news-item .news-info span {
      font-size: 10px;
    }

    .contact-container {
      margin: 0 1rem;
      display: block;
    }
    .contact-info .person .person-info {
      padding-top: 0;
    }
    .contact-container .contact-info {
      width: 100%;
    }
    .contact-container .contact-form {
      width: 100%;
      margin-top: 30px;
      padding-right: 10px;
    }

    .footer {
      padding: 1rem 2rem;
    }
    .footer .info {
      display: none;
    }
    .footer .icon i {
      /* color: var(--white);
      width: 20px;
      height: 20px;
      font-size: 10px; */
    }
  }
  @media (max-width: 300px) {
    .header .logo img {
      width: 40px;
      height: 40px;
    }
    .welcome .welcome-container {
      gap: 3rem;
    }
    .form-item .register-form {
      padding: 5px;
    }
    .form .form-container {
      margin: 0 10px;
    }
    .news-sidebar h2 {
      margin: 75px 0 10px 0;
    }
  }