
/* custom: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
.row {
  width: 100%;
  display: flex;
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

:root {
  --black: #16161d;
  --white: #fff;
  --gray: #5a6f80;
  --light-bg: #f5f5f8;
  --google-color: #4285f4;
  --twitter-color: #1da1f2;
  --youtube-color: #ff0000;
  --linkedin-color: #0e76a8;
  --green: #5bc1ac;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

html::-webkit-scrollbar {
  width: 1rem;
}

html::-webkit-scrollbar-track {
  background: var(--white);
}

html::-webkit-scrollbar-thumb {
  background: var(--black);
}

section {
  padding: 5rem 9%;
}

.btn {
  color: var(--white);
  font-weight: 400;
  font-size: 1.7rem;
  border: 0.1rem solid var(--white);
  border-radius: 10rem;
  padding: 1.5rem 4rem;
}

.btn:hover {
  background: var(--black);
  color: var(--white);
}

.heading {
  font-size: 3.5rem;
  font-weight: 500;
  margin-bottom: 5rem;
  text-align: center;
}

/* pre-header */
.pre-header {
  background-color: var(--green);
  height: 30px;
  left: 0;
  right: 0;
  padding: 0.5rem 16rem;
  align-items: center;
  z-index: 100;
}
.pre-header .info {
  float: left;
}
.pre-header .icon {
  float: right;
}
.pre-header .info span {
  color: var(--white);
  margin-left: 10px;
  padding: 5px;
}
.pre-header .icon i {
  color: var(--white);
  width: 25px;
  height: 25px;
  font-size: 15px;
}
/* pre-header */


/* header */
  .header {
    position: fixed;
    /* top: 0; */
    left: 0;
    right: 0;
    padding: 0.2rem 16rem;
    display: flex;
    align-items: center;
    z-index: 100;
  }
  
  .header.active {
    top: 0;
    background: var(--white);
    padding: 0.2rem 16rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  }
  
  .header.active .logo,
  .header.active .navbar a,
  .header.active .menu {
    color: var(--black);
  }
  
  .header .logo {
    margin-right: auto;
    font-size: 2rem;
    color: #808080;
    font-weight: 700;
  }
  
  .header .logo span {
    font-weight: normal;
  }
  
  .header .navbar a {
    font-size: 1.7rem;
    color: #808080;
    margin-left: 3rem;
  }
  
  .header .menu {
    font-size: 2rem;
    color: var(--black);
    display: none;
  }
  
  .logo-text {
    float: right;
    padding: 5px;
  }

  .logo-text .name {
    color: var(--green);
  }

  .logo-text .organization {
    font-size: 14px;
  }
  /* header */

  /* container */
  .container {
    margin-top:64px;
  }

  /* slider */
  .slider .box-container {
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .slide-image img {
    max-height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .slick-prev {
    left: 30px !important;
    z-index: 10 !important;
    height: 48px !important;
    width: 44px !important;
    background: #808080 !important;
    border-radius: 50% !important;

    /* &:hover {
        background: #fff !important;
    } */
  }

  .slick-next {
    right: 30px !important;
    /* z-index: 10 !important; */
    height: 48px !important;
    width: 44px !important;
    background: #808080 !important;
    border-radius: 50% !important;

    /* &:hover {
        background: #fff !important;
    } */
  }

  /* welcome */
  .welcome {
    width: 100%;
    margin-top: 50px;
  }
  .welcome h2.heading {
    color: var(--gray);
  }
  .welcome .welcome-container {
    margin: 0 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    gap: 5rem;
  }

  .welcome .welcome-container .content {
    position: absolute;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
  }
  .welcome .welcome-container .welcome-item {
    margin: 0 15px;
    width: 126px;
  }
  .welcome .welcome-container .welcome-item .content h3 {
    font-size: 16px;
    font-weight: 500;
  }
  .welcome .welcome-container .welcome-item .image img {
    padding: 0 20px;
    height: 86px;
  }
  /* welcome */


  /* story */
  .story {
    width: 100%;
    margin-top: 100px;
  }
  .story .story-container {
    margin: 0 16rem;
  }
  .story .story-container .story-item .image {
    height: 40rem;
  }

  .story .story-container .story-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }

  .story .story-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
  }

  .story .story-container .story-item .heading {
    color:var(--gray);
    text-align: left;
    margin-bottom: 2rem;
  }
  .story .story-container .story-item .name {
    color: var(--green);
    font-size: 16px;
  }
  .story .story-container .story-item .mission {
    color: var(--green);
    font-size: 16px;
  }

  .story .story-container .story-item p {
    font-size: 1.7rem;
    line-height: 1.5;
    padding: 1.5rem 0;
    color:var(--gray);
    text-transform: none;
  }
  /* story */


  /* partner */
  .partner {
    width: 100%;
    margin-top: 100px;
  }
  .partner .partner-container {
    margin: 0 46rem;
  }
  .partner .partner-container .partner-item .image {
    height: 26rem;
  }
  
  .partner .partner-container .partner-item .image img {
    height: 100%;
    width: 100%;
    background-size: cover;
    border-radius: 20px;
  }
  
  .partner .partner-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 5rem;
  }
  
  .partner .partner-container .partner-item .heading {
    color:var(--gray);
    text-align: left;
    margin-bottom: 2rem;
  }
  .partner .partner-container .partner-item .name {
    color: var(--gray);
    margin-top: 40px;
    font-size: 34px;
    font-weight: 550;
  }
  
  .partner .partner-container .partner-item p {
    font-size: 1.2rem;
    line-height: 1.5;
    padding: 1.5rem 0;
    color:var(--gray);
    text-transform: none;
  }

  .partner-item .social-icon i {
    font-size: 2rem;
    padding: 0.3rem;
  }
  /* partner */

  /* banner */
  .banner {
    width: 100%;
    margin-top: 50px;
  }
  .banner .banner-container img {
    max-height: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* causes */
  .causes {
    width: 100%;
    margin-top: 50px;
    height: auto;
  }
  .causes h2.heading {
    color: var(--gray);
  }
  .causes .causes-container {
    margin: 0 20rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2rem;
  }
  .causes .causes-container .causes-item .image img {
    padding: 0 20px;
    height: 200px;
    width: 100%;
    border-top-right-radius: 32px 20px;
    border-top-left-radius: 32px 20px;
  }
  .causes .causes-container .content {
    position: relative;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
  }
  .causes-container .content .progress .raised {
    float: left;
    padding: 5px;
  }
  .causes-container .content .progress .goal {
    float: right;
    padding: 5px;
  }
  .causes-container .content .donate {
    clear: both;
    margin-top: 10px;
  }
  .causes-container .content .donate button {
    cursor: pointer;
    background: var(--gray);
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-bottom-right-radius: 32px 20px;
    border-bottom-left-radius: 32px 20px;
    width: -webkit-fill-available;
  }  
  .causes-container .causes-item .content h3 {
    font-size: 18px;
    font-weight: 520;
    text-align: left;
    color: var(--green);
    padding: 5px 10px;
  }
  .causes-container .causes-item .content p {
    font-size: 12px;
    font-weight: 400;
    text-align: left;
    color: var(--gray);
    padding: 5px 10px;
  }

  /* progress bar */
  @-webkit-keyframes animate-stripes {
    from {
      background-position: 0 0;
    }
    
    to {
     background-position: 44px 0;
    }
  }
  .ui-progress-bar {
    position: relative;
    height: 7px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #fff;
    border-radius: 35px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
  }
  .ui-progress {
    position: relative;
    display: block;
    overflow: hidden;
    height: 7px;
    -moz-border-radius: 35px;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    -webkit-background-size: 44px 44px; /* Webkit */
    /* background-color: var(--green); */
    background: -webkit-gradient(linear, 0 0, 44 44,
      color-stop(0.00, rgba(255,255,255,0.17)),
      color-stop(0.25, rgba(255,255,255,0.17)),
      color-stop(0.26, rgba(255,255,255,0)),
      color-stop(0.50, rgba(255,255,255,0)),
      color-stop(0.51, rgba(255,255,255,0.17)),
      color-stop(0.75, rgba(255,255,255,0.17)),
      color-stop(0.76, rgba(255,255,255,0)),
      color-stop(1.00, rgba(255,255,255,0))
    ), -webkit-gradient(linear, left bottom, left top, color-stop(0, #5a6f80), color-stop(1, #16161d));
    -webkit-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
    -moz-box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #58c43a;
    box-shadow: inset 0px 1px 0px 0px #dbf383, inset 0px -1px 1px #5a6f80;
    border: 1px solid #5a6f80;
    -webkit-animation: animate-stripes 2s linear infinite;
  }
  .ui-progress span.ui-label {
    font-size: 1.2em;
    position: absolute;
    right: 0;
    line-height: 33px;
    padding-right: 12px;
    color: rgba(0,0,0,0.6);
    text-shadow: rgba(255,255,255, 0.45) 0 1px 0px;
    white-space: nowrap;
  }



  /* story */
  .form {
    width: 100%;
    margin-top: 50px;
    height: auto;
    background: var(--gray);
    position: relative;
  }
  .form .form-container {
    margin: 0 16rem;
  } 
  .form .form-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 5rem;
  }
  .form-item .register-form {
    background: var(--white);
    height: auto;
    border-radius: 20px;
    margin-bottom: 5rem;
  }
  .form-item .heading {
    margin-bottom: 2rem;
    margin-top: 5rem;
    text-align: left;
    color: var(--white);
  }
  .form-item .register-form {
    padding: 20px;
  }
  .form-item .register-form .form-header {
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    margin: 20px 0;
  }

  .form-item .register-form button {
    cursor: pointer;
    background: var(--gray);
    border: 0;
    padding: 16px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 20px;
    width: 100%;
  }
  .form-item .register-form .form-group {
    gap: 8px;
    margin-bottom: 20px;
    display: flex;
    position: relative;
  }
  .form-item .register-form .form-control {
    padding: 5px;
  }
  .form-item .register-form .form-control label {
    font-size: 15px;
    margin-bottom: 5px;
    color: var(--gray);
  }
  .form-item .register-form .input-area {
    /* height: 30px; */
    /* position: absolute;  */
    /* right: 10px; */
    width: 100%;
    border-radius: 9px;
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 5px;
  }

  .form-item.about {
    margin-top: 8rem;
  }
  .form .form-container .form-item .image {
    text-align: center;
  }
  .form .form-container .form-item .image img {
    height: 26rem;
    width: 28rem;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center ;
    background-size: cover;
    border-radius: 50%;
  }
  .form .form-container .form-item .intro {
    text-align: center;
    font-size: 20px;
    font-weight: 550;
    color: var(--white);
    margin: 20px 0;
  }
  .form .form-container .form-item .content {
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    color: var(--white);
    margin: 20px 0;
  }
  /* form */


  /* news */
  .news {
    /* height:2000px; */
    /* border:1px solid #333; */
    margin-top: 30px;
  }
  
  .news .news-container {
    margin: 0 20rem;
    display: flex;
    /* border:1px solid red; */
    /* height: 1800px; */
  }

  .news .new-heading {
    font-size: 30px;
    font-weight: 500;
    color: var(--gray);
    margin: 2rem 20rem;
  }

  .news .news-container .news-main {
    /* border:1px solid blue; */
  }

  .news .news-container .news-sidebar {
    /* border:1px solid green; */
    /* height: 600px; */
  }

  .news-container .news-main .news-item {
    padding: 30px;
    padding-left: 0px;
  }

  .news-container .news-main .news-item .news-image img {
    max-height: 400px;
    width: 100%;
    border-top-right-radius: 32px 20px;
    border-top-left-radius: 32px 20px;
    object-fit: cover;
    cursor: pointer;
  }

  .news-container .news-main .news-item .news-image-title {
    width: 100%;
    color: var(--white);
    background: var(--gray);
    padding: 12px;
    border-bottom-right-radius: 20px 20px;
    border-bottom-left-radius: 20px 20px;
    font-size: 12px;
    cursor: pointer;
  }

  .news-container .news-main .news-item .news-info {
    margin: 15px 0;
  }

  .news-container .news-main .news-item .news-info span {
    padding: 10px;
    color: var(--gray);
  }

  .news-item .news-title h2 {
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
  }
  .news-item .news-content p {
    color: var(--gray);
    margin: 15px 0;
    font-size: 12px;
  }

  .news-sidebar {
    padding: 30px;
  }

  .news-sidebar .search { 
    border: 1px solid var(--gray);
    padding: 5px;
    border-radius: 30px;
    position: relative; 
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
  }
  .news-sidebar .search input { 
    text-indent: 10px;
    width: 100%;
     font-family:  FontAwesome, sans-serif;
  }
  .news-sidebar h2 {
    color: var(--green);
    font-size: 18px;
    font-weight: 580;
    margin: 30px 0 10px 0;
    cursor: pointer;
  }

  .recent-news .recent-news-item {
    display: flex;
  }
  .recent-news-item .image img {
    width: 100%;
    height: 9rem;
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
  }  
  .recent-news-item .info h3 {
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
  }
  .recent-news-item .info span {
    font-size: 12px;
    padding: 5px 10px;
    color: var(--gray);
    cursor: pointer;
  }
  .news-sidebar .list-categories {
    list-style-type: none;
  }
  .news-sidebar .list-categories li {
    padding: 5px;
    cursor: pointer;
  }
  .news-sidebar .list-categories span {
    padding: 1px 6px;
    background: var(--gray);
    color: var(--white);
    border-radius: 10px;
    font-size: 9px;
  }

  .news-sidebar .spans {
    max-width: 100%;
    min-height: 50px;
  }
  .news-sidebar .spans span {
    padding: 10px;
    float: left;
    color: var(--gray);
    cursor: pointer;
  }
  .newletter-form {
    width: 100%;
    height: 30px;
    padding: 5px;
    margin: 15px 0;
  }
  .newletter-form-btn {
    padding: 10px 10px;
    margin: 15px 0;
    width: 100%;
    border-radius: 30px;
    background: var(--gray);
    color: var(--white);
    cursor: pointer;
  }

  /* footer */
  .footer {
    background-color: #333;
    height: 30px;
    left: 0;
    right: 0;
    padding: 0.5rem 16rem;
    align-items: center;
    z-index: 100;
  }
  .footer .info {
    float: left;
  }
  .footer .icon {
    float: right;
  }
  .footer .info span {
    color: var(--white);
    margin-left: 10px;
    padding: 5px;
  }
  .footer .icon i {
    color: var(--white);
    width: 25px;
    height: 25px;
    font-size: 15px;
  }
  /* footer */

  /* media queries */
  @media (max-width: 1200px) {
  
    .home h1 {
      font-size: 5rem;
    }
    .partner .partner-container {
      margin: 0 32rem;
    }

    .form-item.about {
      display: none;
    }
  }
  
  @media (max-width: 991px) {
    html {
      font-size: 60%;
    }
    .header {
      padding: 2rem;
    }
    .header.active {
      padding: 2rem;
    }
    .container {
      margin-top: 9rem;
    }
    .welcome .box-container {
      grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    }
    .partner .partner-container {
      margin: 0 16rem;
    }

    .causes .causes-container {
      margin: 0 3rem;
    }

    .form-item.about {
      display: none;
    }

    .news .news-container {
      margin: 0 4rem;
    }

  }
  
  @media (max-width: 768px) {
    .pre-header {
      padding: 1rem 2rem;
    }
    .pre-header .info {
      display: none;
    }
    .pre-header .icon i {
      color: var(--white);
      width: 20px;
      height: 20px;
      font-size: 10px;
    }

    .header {
      padding: 1rem 2rem;
    }

    .header.active {
      padding: 1rem 2rem
    }

    .header .menu {
      display: block;
      color: #808080;
    }
  
    .header .navbar {
      position: fixed;
      top: 12.2rem;
      left: 0;
      right: 0;
      background: var(--green);
      display: flex;
      flex-flow: column;
      text-align: center;
      transform: translateX(100%);
    }

    .header.active .navbar {
      position: fixed;
      top: 8.4rem;
      left: 0;
      right: 0;
      background: var(--green);
      display: flex;
      flex-flow: column;
      text-align: center;
      transform: translateX(100%);
    }
  
    .header .navbar.show {
      transform: translateX(0);
    }
  
    .header .navbar a {
      color: var(--white);
      margin: 0;
      font-size: 2rem;
      padding: 2rem 0;
    }

    .header.active .navbar a {
      color: var(--white);
      margin: 0;
      font-size: 2rem;
      padding: 2rem 0;
    }

    .container {
      margin-top: 9rem;
    }
  
    .slide-image img {
      max-height: 24rem;
    }

    .welcome h2.heading {
      color: #808080;
      font-size: 20px;
    }
    .welcome .welcome-container {
      margin: 0 2rem;
    }
    .welcome .welcome-container .welcome-item {
      margin: 0;
    }
    .welcome .welcome-container .welcome-item .content h3 {
      font-size: 12px;
      font-weight: 500;
    }

    .story .story-container {
      margin: 0 2rem;
    }

    .partner .partner-container {
      margin: 0 2rem;
    }
    .partner .partner-container .partner-item .name {
      color: var(--gray);
      margin-top: 0;
      font-size: 24px;
      font-weight: 550;
    }

    .causes .causes-container {
      margin: 0 3rem;
    }

    .form .form-container {
      margin: 0 2rem;
    } 
    .form-item.about {
      display: none;
    }

    .news .new-heading {
      margin: 2rem 2rem;
    }
    .news .news-container {
      margin: 0 2rem;
    }
    .news .news-container {
      display: block;
    }
    .news-container .news-main .news-item {
      padding: 0px;
    }
    .news .news-container .news-main {
      width: 100%;
    }
    .news .news-container .news-sidebar {
      width: 100%;
      padding: 0px;
    }

    .footer {
      padding: 1rem 2rem;
    }
    .footer .info {
      display: none;
    }
    .footer .icon i {
      color: var(--white);
      width: 20px;
      height: 20px;
      font-size: 10px;
    }
  }
  
  @media (max-width: 450px) {
    html {
      font-size: 55%;
    }
  }